flask
flask-bcrypt
flask-cors
flask-sqlalchemy
flask-jwt-extended
psycopg2-binary
python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
chromadb
PyPDF2
pdf2image
python-docx
python-pptx
Pillow
pytesseract
werkzeug
gunicorn
google-auth
PyJWT

# openai
# langchain
# streamlit
# python-dotenv
# pyPDF2
# pandas
# python -m venv env
# sentence-transformers


# -e .
