.custom-navbar {
  background-color:#a040dc	; /* light purple */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #ffffff; /* white text */
}

.custom-navbar .nav-link:hover {
  color: #5722ad;/* lighter hover color */
}

.imp_button{
    background-color:#a040dc ;
    color: white;
    border-color: #a040dc;
}

.imp_button:hover{
    background-color: #5e2184;
}