.custom-navbar {
  background-color:#a040dc	; /* light purple */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #ffffff; /* white text */
}

.custom-navbar .nav-link:hover {
  color: #5722ad;/* lighter hover color */
}

.imp_button{
    background-color:#a040dc ;
    color: white;
    border-color: #a040dc;
}

.imp_button:hover{
    background-color: #5e2184;
}


/* Card */
.profile-card {
  width: 500px;
  background: white;
  border-radius: 22px;
  padding: 40px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}


/* Email */
.profile-email {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: white;
} 

.profile-page-container {
  background-color: #ede7ff; /* light purple */
  min-height: 200vh;
  padding-top: 40px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.profile-card {
  background: white;
  width: 420px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}


.email-text {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin-bottom: 25px;
}

.profile-title {
  font-size: 32px;
  font-weight: bold;
  color: #3f035f;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 120px;
}

/* ----- STREAKS BOX ----- */
.streak-box {
  background: #f4ecff;
  border: 2px solid #d5c1ff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 35px;
}

.streak-number {
  font-size: 40px;
  font-weight: bold;
  color: #7b4dff;
}

.profile-streak {
  font-size: 18px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  gap: 8px;
  color: white;
}

.profile-page-container{
  background-color: #be78e3;
  border-radius: 70px;
}
.profile-card{
    background-color: #be78e3;

}

.settings-title{
  color: white;
}

.btn{
 color: white ;
 margin-right: 5px;
 background-color: #924cb8;
}

.delete-btn{
  border-radius: 10px;
  background-color: #8f4bb4;
  color: rgb(255, 255, 255);
  border-color: white;
  border-width: 1px;
  font-size: 18px;
}
